#loginForm {
    margin: 15px;
    text-align: center;
}

#loginInput {
    width: 100%;
}

#loginButtons {
    text-align: center;
    button {
        width: 100%;
    }
}

#logo {
    text-align: center;
}